<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
 
    <div class="container body-content">
        @RenderBody()
        <hr />
        <div class="container">

            <div class="col-lg-3 col-sm-3">
                <a href="#"><h4>Qui sommes nous ?</h4></a>
            </div>

            <div class="col-lg-3 col-sm-3">
                <a href="#"><h4>Charte</h4></a>

            </div>

            <div class="col-lg-3 col-sm-3">
                <a href="/Home/Contact"><h4>Contact</h4></a>

            </div>

        </div>  
    </div>
</body>
</html>