
@{
    ViewBag.Title = "Inscription";
}

<!-- banner -->
<div class="inside-banner">
    <div class="container">
        <h2>Inscrivez-vous</h2>
    </div>
</div>
<span><a href="/Home/Index">Home</a> / @ViewBag.Title</span>
<!-- banner -->

<div class="container">
    <div class="spacer">
        <div class="row register">
            <div class="col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 ">
                @if (ViewBag.SuccessMessage != null)
                {
                    @:<div class="alert alert-success">@ViewBag.SuccessMessage</div>
                }

                @if (ViewBag.ErrorMessage != null)
                {
                    @:<div class="alert alert-danger">@ViewBag.ErrorMessage</div>
                }
            <form id="contact-form" method="post">
                @Html.AntiForgeryToken()
                <input type="text" class="form-control" placeholder="Prénom" name="Prenom" required>
                <input type="text" class="form-control" placeholder="Nom" name="Nom" required>
                @*<input type="text" class="form-control" placeholder="Pays" name="Pays" required>*@
                <select class="form-control" name="Pays" id="IdPays" required>
                    <option class="form-control" disabled selected>Pays</option>
                    <option value="1" id="1" name="Pays">1</option>
                    <option value="2" id="1" name="Pays">2</option>
                    <option value="3" id="1" name="Pays">3</option>
                </select>
                <input type="text" class="form-control" placeholder="Téléphone" name="Telephone" required>
                <input type="email" class="form-control" placeholder="E-mail" name="Email" required>
                <input type="text" class="form-control" placeholder="Nom d'utilisateur" name="Login" required>
                <input type="password" class="form-control" placeholder="Mot de passe" name="Password" required>
                <input type="password" class="form-control" placeholder="Confirmer mot de passe" name="Confirm Password" required>

                <button type="submit" class="btn btn-success" name="Submit">Confirmer</button>

            </form>
            </div>
        </div>
    </div>
</div>