@model HouseShare.Models.MembreModel

@{
    ViewBag.Title = "Home";
}

<!-- banner -->
<div class="inside-banner">
    <div class="container">
        <h2>@ViewBag.Title</h2>
    </div>
</div>
<span><a href="/Membre/Home/Index">Zone Membre</a> / @ViewBag.Title</span>
<!-- banner -->

<div class="container">
    <div class="spacer">
        <h3>Bienvenu.e @Model.Prenom @Model.Nom</h3>
        <a href="/Membre/Home/Profil">Modifier mes infos personnelles</a>
    </div>
</div>
<div class="container">
    <p class="color1"><a href="/Membre/Home/MesBiens">Mes Biens</a></p>
    <p class="color1"><a href="/Membre/Home/AjouterBien">Ajouter un bien</a></p>
    <p class="color1"><a href="/Membre/Index">Mes demandes d'échange</a></p>
</div>